.tableStyle {
    border: 2px solid #ccc;
    width: 700px;
    margin: auto;
    border-collapse: collapse;

    .tableHeaderStyle {
        background-color: #f1f1c1;
        border: 2px solid #ccc;
    }

    .tableDataStyle {
        text-align: left;
        border: 2px solid #ccc;
    }

    .tableLineStyle:hover {
        background-color: #ccc;
        cursor: pointer;
    }
}